* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

.container .message{
    padding-bottom: 5px;
    text-align: center;
}

.hidden{
    display: none;
}

.error{
    color: red;
}

.success{
    color: #008000;
}

.container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .1s ease;
}

.input-group input:valid+label,
.input-group input:focus+label{
    font-size: 11px;
    top: -5px;
}

.input-group input:focus+label {
    color: #007bff;
}

.input-group input {
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 40px;
    background: transparent;
    border: solid 1px #ccc;
    transition: all .3s ease;
    padding: 0 15px;
}

.input-group input:focus {
    border-color: #007bff;
}

.input-group.invalid input {
    border-color: red;
}

.input-group.invalid label {
    color: red;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.info, .link{
    font-size: small;
}

.link {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.link:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .container {
        max-width: 80%;
    }
}